# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# other
build
.vscode
temp.rundata
results
rundata/*
!rundata/csv
!rundata/local_search
rundata/local_search/*
python/temp.py
python/output/*
python/output_latex_main
__pycache__
.venv
docs/temp.*

presets/*
!presets/template.md

instances/*